.potd-container, .potd-img__container {
    text-align: center;
    height: 83%;
}

.potd-title {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.potd-image__container {
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    grid-column: 2 / 3;
    justify-self: center;
}

.potd-second__container{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   
}

.potd-image, .potd-img {
    width: auto;
    height: 400px;
    padding: 25px;
}

.potd-description__container{
    padding: 10px 30px;
}

iframe {
    width: 750px;
    height: 380px;
    padding: 25px;
    border-radius: 10px;
    border: none;
}


