.potd-container, .potd-img__container {
    text-align: center;
}

.potd-title {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.potd-image, .potd-img {
    width: auto;
    height: 769px;

}

.potd-description__container{
    padding: 0px 300px;
}

iframe {
    width: 1200px;
    height: 670px;
}