.nav-bar__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}


.home-link {
    display: flex;
}

.logo-img {
    width: 70px;
}

.logo-title {
    padding-top: 10px;
}

.about-archive__links {
    display: flex;
    justify-content: end;
    gap: 20px;
    grid-column: 3 / 4 ;
    margin-right: 40px;
    padding-top: 20px;
}

@media (width <= 550px ) {
    .about-archive__links {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 12px;
    }
}


