
.item-container {
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    
    .potd__image {
        width: 270px;
        height: 150px;
        padding-left: 100px;
    }
}

h4{
    text-align: center;

}